main {
    /* border: 1px solid blue; */
    height: auto;
    margin: 100px 0;
}

.generalContainer {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
}

/* Bloque de productos*/
.productsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
} 


